.nav {
    position: fixed;
    top: 0;
    padding-bottom: 2.5rem;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
    /* margin: 0% 0% 0% 0%; */
    align-items: center;
    /* background-color: goldenrod; */
    /* border: 1rem solid black; */
    /* box-shadow: 0px 0px 10px 5px var(--salmon) inset; */
}

.nav-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--teal);
    font-size: x-large;
}

.nav-link:hover {
    color: var(--charcoal);
    text-decoration: underline;
    background-color: goldenrod;
    /* padding: 2%; */
    border: 2 px solid black;
}