.resume {
    padding-top: 1%;
}

.header-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 100px;
    border: 2px solid black;
}

.body-resume {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    /* color: goldenrod; */
}

.faFile {
    font-size: 80px;
    padding: 1rem;
    border-radius: 1rem;
}

.faFile:hover {
    color: white;
    background-color: #333;
}
.view {
    text-decoration: none;
    color: black
}