.ftul {
    font-size: larger;
    margin: 0% 0% 0% 0%;
    color: var(--teal);
    display: flex;
    background-color: var(--charcoal);
    align-items: center;
    font-weight: bolder;
    list-style: none;
    justify-content: space-evenly;
    padding: 1%;
    border: 2px solid var(--salmon);
}

footer a {
    color: var(--teal);
    list-style: none;
    /* margin-right: 2%; */
}

