.header {
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0% 0% 0% 0%;
    padding: 1%;
    font-size: x-large;
    color: var(--teal);
    background-color: var(--charcoal);
    border-bottom: 1px solid var(--salmon);
    box-shadow: 0px 0px 5px 2.5px var(--salmon) inset;
}