nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0% 0% 0% 0%;
    z-index: 1;
    /* flex-wrap: wrap; */
    align-items: center;
    background-color: var(--charcoal);
    border-top: 1px solid var(--salmon);
    /* box-shadow: 0px 0px 10px 5px var(--salmon) inset; */
}

.nav-group {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--teal);
}

.nav-link:hover {
    color: var(--charcoal);
    text-decoration: underline;
    background-color: var(--teal);
    padding: 2%;
    /* border-bottom: 2 px solid var(--white); */
}