/* Variables */
:root {
    --white: #fff;
    --black: #000000;
    --gold: #d5b61e;
    --charcoal: #36454f;
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --hidden: none;
    --salmon: #febbaf;
    --teal: #c3e4d7;

}

html {
    scroll-behavior: smooth;
}

/* Global Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/* Nav Bar */
.header {
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0% 0% 0% 0%;
    z-index: 1;
    /* flex-wrap: wrap; */
    align-items: center;
    background-color: var(--charcoal);
    border-top: 1px solid var(--salmon);
    /* box-shadow: 0px 0px 10px 5px var(--salmon) inset; */
}

.nav-group {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
}

/* 
nav ul {
    display: flex;
    justify-content: space-evenly;
} */
/* Font Details */
h1 {
    width: 100%;
    color: var(--charcoal);


}

.name {
    margin-left: 2%;
    background-color: var(--teal);
    padding: 1%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0% 0% 0% 0%;
    padding: 1%;
    font-size: x-large;
    color: var(--teal);
    background-color: var(--charcoal);
    border-bottom: 1px solid var(--salmon);
    box-shadow: 0px 0px 5px 2.5px var(--salmon) inset;
}

h2 {
    color: var(--teal);
    font-size: xx-large;
}

h4 {
    color: var(--charcoal);
    background-color: var(--salmon);
    padding-right: 8px;
}

.nav-link {
    text-decoration: none;
    color: var(--teal);
}

/* Hover Pseudo Class applied to nav */
/* .nav-link:hover {
    color: var(--gold);
    text-decoration: underline;
    background-color: var(--charcoal);
} */

.nav-link:hover {
    color: var(--charcoal);
    text-decoration: underline;
    background-color: var(--teal);
    padding: 2%;
    /* border-bottom: 2 px solid var(--white); */
}

body {
    background-color: var(--white);
    background-image: url('https://wallpapers.com/images/high/blank-white-square-patterns-qasj9pctfbx09e9m.webp');

}

/* Flex Applied to Main body */
main {
    display: flex;
    flex-wrap: wrap;
    /* background-color: var(--white); */
}

img {
    max-width: 100%;
    height: auto;
}

/* Main Photos */
#hero {
    margin: 0;
    overflow: hidden;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/images/Pink And Green Motivation Quote LinkedIn Banner.png");
}

#self {
    /* padding-left: 2%; */
    padding: 10% 2% 2%;
    width: auto;
    height: 100%;
    border-radius: 50%;
}

/* The Way I Am */
.about {
    padding: 2%;
    width: 100%;
    margin: 0%;
    color: var(--teal);
    background-color: var(--charcoal);
    border: 2px solid var(--salmon);
}

.acard {
    padding: 2%;
    border-left: 1px solid var(--salmon);
}

/* My Works Section */
.work {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    width: 100%;
    margin: 0%;
    background-color: var(--charcoal);
    border: 2px solid var(--salmon);
}

.work h2 {
    width: 100%;
}

.card-container {
    padding: 2%;
    border-left: 1px solid var(--salmon);
}

.card-container1 {
    padding: 2%;
}

.card {
    width: 18rem;
    margin-left: 2%;
    border: 1px solid var(--salmon);
}

/* .card-img-top {
    /* padding: 2%;
    border-left: 1px solid var(--gold);
} */

.card-body {
    background-color: var(--teal);
}

/* Footer Details */
/* .contact-container {
    margin: 2%;
} */

.ftul {
    font-size: larger;
    margin: 0% 0% 0% 0%;
    color: var(--teal);
    display: flex;
    background-color: var(--charcoal);
    align-items: center;
    font-weight: bolder;
    list-style: none;
    justify-content: space-evenly;
    padding: 1%;
    border: 2px solid var(--salmon);
}


footer a {
    color: var(--teal);
    /* margin-right: 2%; */
}

/* Mobile devices */
@media only screen and (max-width: 767px) {

    /* styles for mobile devices go here */
    /* Change font size to be more readable on small screens */
    body {
        font-size: 16px;
    }

    /* #hero {
        background-image: var(--hidden);
    } */

    #self {
        width: auto;
        height: 100%;
    }

    ul {
        justify-content: left;
        display: block;
    }

    .work-cards {
        display: block;
    }

    /* Stack elements vertically instead of horizontally */
    nav,
    .contact-container {
        flex-direction: column;
    }

    /* Reduce padding and margins to save space */
    * {
        padding: 10px;
        margin: 0;
    }
}

/* Tablets */
/* styles for tablets go here */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Increase font size for improved readability */
    body {
        font-size: 18px;
    }

    /* Adjust layout for tablet screen size */
    nav,
    .contact-container {
        display: inline-flex;
        max-width: 720px;
    }
}