:root {
    --white:#fff;
    --black:#000000;
    --gold: #d5b61e;
    --charcoal:#36454f;
    --royal-blue:#4169e1;
}

* {
    
}

body {
    position: relative;
    /* background-color: var(--white); */
}

.header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--charcoal);
    color: var(--gold);
}

.container {
    padding-right: 15px;
    padding-left:15px;
    margin-left: auto;
    margin-right: auto;

}

.header h1 {
    display: block;
    font-size: 40px;
    /* color: var(--gold); */
}

.header div nav {
    float: right;
}

.header nav ul li {
    display: inline-flex;
    list-style-type: none;
    font-size: 40px;
    margin-right: 10px;
    float: inline-end right;
}

a {
    text-decoration: none;
    /* color:var(--gold); */
}

.container-image {
    display: block;
    margin: 0 auto;
    padding:20px;
    height: auto;
    /* background-color: var(--charcoal); */
}

#self {
    height: auto;
    max-width: 100%;
}

.container-bricks {
position: relative;
text-align: center;
}

.centered {
    /* background-color: var(--charcoal); */
}

h3 {
    /* color: var(--charcoal); */
    font-size: 32px;
}

#the {
    /* background-color: var(--gold); */
    max-width: fit-content;

}

p {
    /* color: var(--charcoal); */
}

h1 {
    position: flex;
    text-align: left;
}

h1:hover {
    /* color: var(--black); */

} */

.button {
    display:block;
    position: relative;

}

.sr-only {
    display: none;

}
#resume {
    display: none;
}