/* Variables */
:root {
    --white:#fff;
    --black:#000000;
    --gold: #d5b61e;
    --charcoal:#36454f;
    --font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --normal-font: 700;
    --bold-font: 700;
    --bolder-font: 900;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --hidden: none;

}

html {
    scroll-behavior: smooth;
}

/* Global Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

.container {
    padding: 2px;
    background-color: var(--white);
}

nav {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    /* background-color: var(--gold); */
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

h1 {
    color: var(--gold);
}

ul {
    padding: 1%;
    border-radius: 1px;
    list-style-type: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-end;
}

li {
    font-weight: var(--bolder);
}

a {
    text-decoration: none;
    color: var(--gold);
    /* transition: var(--transition); */
    padding: 75px;
}

a:hover {
    color: var(--white);
    text-decoration: underline;
    border-bottom: 2 px solid var(--charcoal);
}

/* .button {
    color: var(--charcoal);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
} */

#hero {
    overflow: hidden;
    height:25vh;
    width:100%;
    background-size: cover;
    background-position: center;
    background-image: url("/Advanced-CSS-Challenge-Professional-Portfolio/assets/images/IMG_0082.JPG");
}

#self {
    padding:1% 1% 1% 1%;
    width:auto;
    height: 100%;
}

main {
    display:flex;
    flex-wrap: wrap;
}

.life {
    padding: 2%;
    /* display: flex;
    align-items: center;
    justify-content:flex-start; */
    gap: 5%;
    width: 100%;
    margin-left: 2%;
}

.card  {
    padding: 2%;
    border-left: 1px solid var(--charcoal);
}

.work {
    padding:2%;
    width: 100%;
    margin-left: 2%;
  }

.symbols {
    padding: 2%;
    border-left: 1px solid var(--charcoal);
    width: 100%;
  }
  .fa-code {
    background-color: var(--gold);

  }
  .work-wrapper .fa-solid {
    display:flex;
        flex-grow: 4;
    justify-content: space-evenly;
    background-color: var(--white);
    padding:75px;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--gold);
  }

#fa-code {
    background-color: var(--gold);
    flex-grow:4;
}

.work-wrapper .fa-kitchen-set, .fa-people-roof {
    flex-grow:0;
}
  
footer {
    color:var(--gold);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--charcoal);
    width: 100%;
}

footer div {
    padding: 2%;
    background-color: var(--gold);
}

@media only screen and (max-width: 768px){
    #self {
         width:auto;
         height:100%;
     }
 
     ul {
         display: block;
         justify-content: left;
     }
 
 }
 
 @media only screen and (max-width: 390px){
     #hero {
         background-image: var(--hidden);
     }
 
     #self {
         width:auto;
         height:100%;
     }
 
     nav {
 
     }
 }
  */