.profile-pic {
    border-radius: 50%;
    border: 1px solid black;
    top: 0;
    margin-bottom: 1em;
    align-self: center;
}

.user-name {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}